/**{
	font-family: 'Comic Sans MS', arial;
}*/
.container{
	overflow: auto;
	margin: 10px 10px;
}
#accountaddress{
  text-align: center;
}
.mainbox{
	display:flex;
	flex-wrap: wrap;
	align-content: center;
}
.formclass{
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}
.list-content{
	width: 100%;

}

h3{
	text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-add {
  width: 100%;
  background-color: #1e90ff;
  color: white;	
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}